.DS_Store
Thumbs.db

*todo*
*test*
*.sh
*venv*
*trip*
sandbox
game*/*.md

*.out
*.swp
*.swo
*.swn
*.pdf
*.txt
*.a
*.o
*.sum
*.class
*.tasty
*Tester
.vscode

out*
log*
demo
main
test
_log*
inter
union
philo
smurf
pipex
atomic
sample
*.dSYM
outfile
replace
fractol
indexed
showkey
pthread
*tester
original
print_i
*.replace
push_swap
phonebook
random_ab
minishell
*.replace
empty_test
mutex_lock
checker_OS
checker_Mac
karenFilter
